<!-- コンポーネントをもっと分割すること…似たようなことの繰り返しは禁物 -->
<div class="ui-g ui-g-nopad">
<!-- START -->
<!-- Item -->
<div class="ui-g-4 ui-g-nopad">
	<p-card header="備品登録" class="ui-g-12">
		<div class="ui-g ui-fluid">
			<div class="ui-g-12">
				<div class="ui-inputgroup">
					<span class="ui-inputgroup-addon"><i class="fa fa-archive"></i></span>
					<input type="text" pInputText placeholder="名称" [(ngModel)]="itemName">     
		    </div>
		  </div>
			<div class="ui-g-12">
				<div class="ui-inputgroup">
					<span class="ui-inputgroup-addon"><i class="fa fa-barcode"></i></span>
					<input type="text" pInputText placeholder="コード" [(ngModel)]="itemCode">     
		    </div>
		  </div>
		</div>
		<div class="ui-g ui-fluid">
			<p-button label="登録" (click)="createItem()" class="ui-g-4"></p-button>
		</div>
	</p-card>

	<p-card header="備品一覧" class="ui-g-12">
		<div class="ui-g ui-fluid">
			<p-button label="更新" (click)="getItems()" class="ui-g-4"></p-button>
		</div>
	
		<div class="ui-g ui-g-nopad">
			<p-table [columns]="itemCols" [value]="items" class="ui-g-12" selectionMode="single" (onRowSelect)="onItemSelect($event)">
		    <ng-template pTemplate="header" let-columns>
	        <tr>
            <th *ngFor="let col of columns">
                {{col}}
            </th>
	        </tr>
		    </ng-template>
		    <ng-template pTemplate="body" let-rowData let-columns="columns">
	        <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns">
                {{rowData[col]}}
            </td>
	        </tr>
		    </ng-template>
			</p-table>
		</div>
	</p-card>
</div>
<!-- RelocationEvent -->
<div class="ui-g-4 ui-g-nopad">
	<p-card header="移動" class="ui-g-12">
		<div class="ui-g ui-fluid">
			<div class="ui-g-12">
				<div class="ui-inputgroup">
					<span class="ui-inputgroup-addon"><i class="fa fa-barcode"></i></span>
					<input type="text" pInputText placeholder="移動する備品のコード" [(ngModel)]="targetItemCode">     
		    </div>
		  </div>
			<div class="ui-g-12">
				<div class="ui-inputgroup">
					<span class="ui-inputgroup-addon"><i class="fa fa-barcode"></i></span>
					<input type="text" pInputText placeholder="移動先の場所のコード" [(ngModel)]="targetLocationCode">     
		    </div>
		  </div>
		</div>
		<div class="ui-g ui-fluid">
			<p-button label="登録" (click)="createRelocationEvent()" class="ui-g-4"></p-button>
		</div>
	</p-card>
	
	<p-card *ngIf="selectedItem" header="{{selectedItem.name}}の移動履歴" class="ui-g-12">
		<div class="ui-g ui-g-nopad">
			<p-table [value]="selectedItem.relocationEvents" class="ui-g-12">
			    <ng-template pTemplate="header">
			        <tr>
			            <th>date</th>
			            <th>code</th>
			            <th>name</th>
			        </tr>
			    </ng-template>
			    <ng-template pTemplate="body" let-event>
			        <tr>
			            <td>{{event.createdAt | date:"yy/MM/dd hh:mm:ss"}}</td>
			            <td>{{event.location.code}}</td>
			            <td>{{event.location.name}}</td>
			        </tr>
			    </ng-template>
			</p-table>
		</div>
	</p-card>
</div>
<!-- Location -->
<div class="ui-g-4 ui-g-nopad">
	<p-card header="場所登録" class="ui-g-12">
		<div class="ui-g ui-fluid">
			<div class="ui-g-12">
				<div class="ui-inputgroup">
					<span class="ui-inputgroup-addon"><i class="fa fa-building"></i></span>
					<input type="text" pInputText placeholder="名称" [(ngModel)]="locationName">     
		    </div>
		  </div>
			<div class="ui-g-12">
				<div class="ui-inputgroup">
					<span class="ui-inputgroup-addon"><i class="fa fa-barcode"></i></span>
					<input type="text" pInputText placeholder="コード" [(ngModel)]="locationCode">     
		    </div>
		  </div>
		</div>
		<div class="ui-g ui-fluid">
			<p-button label="登録" (click)="createLocation()" class="ui-g-4"></p-button>
		</div>
	</p-card>

	<p-card header="場所一覧" class="ui-g-12">
		<div class="ui-g ui-fluid">
			<p-button label="更新" (click)="getLocations()" class="ui-g-4"></p-button>
		</div>
	
		<div class="ui-g ui-g-nopad">
			<p-table [columns]="locationCols" [value]="locations" class="ui-g-12" selectionMode="single" (onRowSelect)="onLocationSelect($event)">
		    <ng-template pTemplate="header" let-columns>
	        <tr>
            <th *ngFor="let col of columns">
                {{col}}
            </th>
	        </tr>
		    </ng-template>
		    <ng-template pTemplate="body" let-rowData let-columns="columns">
	        <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns">
                {{rowData[col]}}
            </td>
	        </tr>
		    </ng-template>
			</p-table>
		</div>
	</p-card>
</div>
<!-- END -->
</div>